﻿<section>
    <h2 data-bind="text: title"></h2>

    <label data-bind="text: localize.username" for="username"></label><input id="username" data-bind="value: userName" type="text"  />
    <label data-bind="text: localize.password" for="password"></label><input id="password" data-bind="value: password" type="password"  />
    <label data-bind="text: localize.rememberme" for="rememberme">rememberMe:</label><input id="rememberme" data-bind="    value: rememberMe" type="checkbox"  /><br/><br/>
    <input type="button" value="submit" data-bind="click: login, value: localize.submit" class="btn" />

    <input type="button" value="fblogin" data-bind="click: facebook.login, enable: facebook.initialized" class="btn" />
    
    <br/>
    <a href="#/account/register" data-bind="text: localize.registerhere"></a>
</section>