﻿<section>
    <h2 data-bind="text: title"></h2>
    
    <span class="text-error" data-bind="text: errorMessage"></span>
    <label data-bind="text: localize.username"></label><input data-bind="value: userName" type="text"  />

    <label data-bind="text: localize.firstname"></label><input data-bind="value: firstName" type="text"  />
    <label data-bind="text: localize.lastname"></label><input data-bind="value: lastName" type="text"  />
    <label data-bind="text: localize.email"></label><input data-bind="value: emailAddress" type="text"  />
    <label data-bind="text: localize.company"></label><input data-bind="value: company" type="text"  />
    <br />
    <label data-bind="text: localize.password"></label><input data-bind="value: password1" type="password" />
    <label data-bind="text: localize.reenterpasswd"></label><input data-bind="value: password2" type="password" />
    <input type="button" data-bind="value: localize.register , click: registerUser, enable: processing() == false" class="btn" />
</section>