﻿<nav class="navbar navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <span class="pull-left"><a href="http://pekka.ylenius.net/?p=65" target="_blank">Building CRM demo</a></span>
        <span class="pull-right"><a href="http://pekka.ylenius.net" target="_blank">© 2013 Pekka Ylenius</a></span>
    </div>
</nav>
