﻿<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <div class="row-fluid" data-bind="visible: show" style="display: none">
        <input type="text" placeholder="filter" class="input-medium search-query" data-bind="value: filter, valueUpdate: 'afterkeydown'" />

        <div class="pagination">
            <ul data-bind="foreach: ko.utils.range(0, maxPageIndex)">
                <li data-bind="css: { active: $data == $root.currentPageIndex() }"><a href="#" data-bind="text: $data + 1, click: function () { $root.currentPageIndex($data) }"></a></li>
            </ul>
        </div>

        <ul data-bind="foreach: itemsOnCurrentPage" class="unstyled controls">
            <li>
                <div class="controls controls-row" data-bind="visible: isSelected() == false">
                    <h3 class="span6" data-bind="text: Name" />
                    <div class="btn-group">
                        <button class="btn " data-bind="click: function () { isSelected(true); } , css: { 'btn-danger': isChanged() == true }, text: $root.localize.edit">edit</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="css: { 'btn-danger': isChanged() == true }">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: function () { $root.revertCustomer(this); }, enable: isChanged() , text: $root.localize.cancel">Cancel</a></li>
                            <li><a href="#" data-bind="click: function () { $root.removeCustomer(this); }, text: $root.localize.remove">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="controls controls-row" data-bind="visible: isSelected">
                    <input class="span6" type="text" data-bind="value: Name" />
                    <button class="btn btn-small btn-primary" data-bind="click: function () { isSelected(false); } , text: $root.localize.close">close</button>
                </div>
                <div class="controls controls-row" data-bind="visible: isSelected">
                    <input class="span6" type="text" data-bind="value: Street" />
                </div>
                <div class="controls controls-row" data-bind="visible: isSelected">
                    <input class="span2" type="text" data-bind="value: PostCode" />
                    <input class="span4" type="text" data-bind="value: City" />
                </div>
                <div class="controls controls-row" data-bind="visible: isSelected">
                    <a href="#" class="btn btn-small btn-primary" data-bind="click: function () { $root.addNote(this); }, text: $root.localize.addnote">Add note</a>
                    <ul class="unstyled" data-bind="foreach: Notes">
                        <li><span class="text-info" data-bind="text: Added"></span>
                            <br />
                            <textarea class="input-large" rows="5" data-bind="value: Text" />
                        </li>
                    </ul>
                    <br />
                    <br />
                </div>
            </li>
        </ul>
        <div class="pagination">
            <ul data-bind="foreach: ko.utils.range(0, maxPageIndex)">
                <li data-bind="css: { active: $data == $root.currentPageIndex() }"><a href="#" data-bind="text: $data + 1, click: function () { $root.currentPageIndex($data) }"></a></li>
            </ul>
        </div>
        <a href="#" class="btn" data-bind="click: addCustomer, text: $root.localize.addcustomer">Add customer</a>
        <a href="#" class="btn btn-danger" data-bind="visible: (changedItems() != 0), click: save, text: $root.localize.save_ + changedItems() + $root.localize._changes "></a>

    </div>
</section>
