﻿<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">
            <span class="title" data-bind="text:txtTitle">Simple CRM demo</span> 
        </a>
        <a class="pull-right" href="#/account/login" data-bind="visible: isAnonymous" >
            <span>Login</span>
        </a>
        <div class="pull-right" data-bind="visible: isAnonymous() == false">
            <a>Welcome <span data-bind="text: userInfo.UserName">user</span></a>
            <a data-bind="click: function () { authentication.logout('#/') }, text: localize.logout "></a>
        </div>

        <div class="btn-group" data-bind="foreach: router.visibleRoutes">
            <a data-bind="css: { active: isActive }, attr: { href: hash }, text: name" 
                class="btn btn-info" href="#"></a>
        </div>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar" style="width: 100px;"></div>
            </div>
        </div>
        <div class="btn-group">
        
            <a class="btn btn-mini btn-info" data-bind="click: function () { changeLocale('fi-fi'); }, css: { active: (locale() == 'fi-fi') }">suomeksi</a>
            <a class="btn btn-mini btn-info" data-bind="click: function () { changeLocale('en-us'); }, css: { active: (locale() == 'en-us') }">english</a>
        </div>
    </div>
</nav>